*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* body{
    background-color: red;
} */

header{
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
}

.layout-grid{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;/*centralizando o elemento*/
    /* border: 2px solid green; */
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu{
    display: flex;
    justify-content: space-between;
    width: 350px;
    /* border: 2 px solid blue; */
}

header img{
    width: 130px;
}

.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}





.banner {
    /* apenas para servir de referencial do botao */
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid red;
}

.banner img{
    width: 100%;
}

.banner a {
    /* absolute tem como referencial o primeiro ancestral que tiver um position definido */
    position: absolute;
    top: 50%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    color: white;
    background-color: #444444;
    height: 45px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: 600;
}